page-home {
    ion-icon {
        font-size: 200px; //Preferred size here
        position: relative;
        /* Adjust these values accordingly */
        top: 40px;
        left: 80px;
    }
    ion-list{
        position: relative;
        top:100px;
        }
    button{
        position: relative;
        top: 100px;
        left: 100px;
    }
}
